<p>add-cv works!</p>
<!-- <form #form="ngForm">
  <input type="text" ngModel (ngModelChange)="onChange($event)" name="name" placeholder="name">
</form> -->
<!-- [ngModelOptions]="{ updateOn: 'blur',}" -->
<form [formGroup]="form">
  Name:
  <input type="text" class="form-control" formControlName="name" />
  <div
    *ngIf="form.get('name')?.errors && form.get('name')?.touched"
    class="alert alert-danger"
  >
    Ce champ est obligatoire
  </div>
  Firstname:
  <input type="text" class="form-control" formControlName="firstname" /> Age:
  <input type="text" class="form-control" formControlName="age" /> Cin:
  <input type="text" class="form-control" formControlName="cin" />
  <div
    *ngIf="cin.errors && cin.errors['cinExist'] && cin?.touched"
    class="alert alert-danger"
  >
    Cette Cin existe déjà
  </div>
  <div
    *ngIf="
      form.errors && form.errors['cinFirstCars'] && cin?.touched && age?.touched
    "
    class="alert alert-danger"
  >
    Cette Cin est invalide
  </div>
  Job: <input type="text" class="form-control" formControlName="job" /> Path:
  <input type="text" class="form-control" formControlName="path" />
  <div class="alert alert-primary">
    <div>Skills: <span (click)="addSkill()">+</span></div>
    <ng-container formArrayName="skills">
      <ng-container
        *ngFor="let skillForm of skills.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="alert alert-secondary">
          <input type="text" formControlName="skill" class="form-control" />
          <input type="text" formControlName="level" class="form-control" />
          <button class="btn btn-danger" (click)="deleteSkill(i)">x</button>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="alert alert-danger">
    <div>Hobbies: <span (click)="addHobby()">+</span></div>
    <ng-container formArrayName="hobbies">
      <ng-container
        *ngFor="let hobbyControl of hobbies.controls; let i = index"
      >
        <input type="text" [formControlName]="i" class="form-control" />
        <button class="btn btn-danger" (click)="deleteHobby(i)">x</button>
      </ng-container>
    </ng-container>
  </div>
  <button [disabled]="form.invalid" class="btn btn-primary" (click)="addCv()">
    add cv
  </button>
</form>
{{ form.errors | json }}
<!-- <mat-horizontal-stepper class="mat-elevation-z5" labelPosition="bottom" #stepper>
  <mat-step>
    <ng-template matStepLabel>Add Cv</ng-template>
    <div class="stepper-buttons">
      <button mat-raised-button color="primary" matStepperNext> Continue </button>
    </div>
  </mat-step>
</mat-horizontal-stepper> -->
