<app-navbar></app-navbar>
<hr>
<button (click)="appRef.tick()" class="btn btn-danger">
  Trigger CD
</button>
<!-- <app-cd></app-cd> -->
<app-out-of-bound-cdd-example></app-out-of-bound-cdd-example>
<!-- <button class="btn btn-danger" (click)="navigateWithNavigationExtras()">Extras</button>
 --><!-- <app-slider></app-slider>
 -->
<!-- <app-container>
  <app-resolution-modifiers></app-resolution-modifiers>
</app-container> -->
<ngx-ui-loader></ngx-ui-loader>
<!-- <app-test-pipe-impure></app-test-pipe-impure> -->
<!-- <app-products></app-products>
<app-test-structurel-directive></app-test-structurel-directive> -->
<router-outlet></router-outlet>
<hr>
<h2>Footer</h2>